<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Pharm</title>
        <link href="#{application.contextPath}/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/style.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/main.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/main-responsive.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/all.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/theme_light.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/futurico.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/css1.css" type="text/css" rel="stylesheet" media="print"/>
        <link href="#{application.contextPath}/resources/css/css2.css" type="text/css" rel="stylesheet" media="print"/>
        <link href="#{application.contextPath}/resources/css/print.css" type="text/css" rel="stylesheet" media="print"/>
    </h:head>
    <h:body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <!-- start: TOP NAVIGATION CONTAINER -->
            <div class="container">
                <div class="navbar-header">
                    <!-- start: RESPONSIVE MENU TOGGLER -->
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="clip-list-2"></span>
                    </button>
                    <!-- end: RESPONSIVE MENU TOGGLER -->
                    <!-- start: LOGO -->
                    <a class="navbar-brand" href="index-2.html">
                        CLIP<i class="clip-clip"></i>ONE
                    </a>
                    <!-- end: LOGO -->
                </div>
                <div class="navbar-tools">
                    <!-- start: TOP NAVIGATION MENU -->
                    <ul class="nav navbar-right">
                        <!-- start: TO-DO DROPDOWN -->
                        <li class="dropdown">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <i class="clip-list-5"></i>
                                <span class="badge"> 12</span>
                            </a>
                            <ul class="dropdown-menu todo">
                                <li>
                                    <span class="dropdown-menu-title"> You have 12 pending tasks</span>
                                </li>
                                <li>
                                    <div class="drop-down-wrapper ps-container">
                                        <ul>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;">Staff Meeting</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="todo-actions" href="javascript:void(0)">
                                                    <i class="fa fa-square-o"></i>
                                                    <span class="desc" style="opacity: 1; text-decoration: none;"> New frontend layout</span>
                                                    <span class="label label-danger" style="opacity: 1;"> today</span>
                                                </a>
                                            </li>
                                           
                                          
                                        </ul>
                                        <div class="ps-scrollbar-x-rail" style="width: 270px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 250px; display: none; right: 3px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div></div>
                                </li>
                                <li class="view-all">
                                    <a href="javascript:void(0)">
                                        See all tasks <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: TO-DO DROPDOWN-->
                        <!-- start: NOTIFICATION DROPDOWN -->
                        <li class="dropdown">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <i class="clip-notification-2"></i>
                                <span class="badge"> 11</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li>
                                    <span class="dropdown-menu-title"> You have 11 notifications</span>
                                </li>

                                <li class="view-all">
                                    <a href="javascript:void(0)">
                                        See all notifications <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: NOTIFICATION DROPDOWN -->
                        <!-- start: MESSAGE DROPDOWN -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#">
                                <i class="clip-bubble-3"></i>
                                <span class="badge"> 9</span>
                            </a>
                            <ul class="dropdown-menu posts">
                                <li>
                                    <span class="dropdown-menu-title"> You have 9 messages</span>
                                </li>

                                <li class="view-all">
                                    <a href="pages_messages.html">
                                        See all messages <i class="fa fa-arrow-circle-o-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: MESSAGE DROPDOWN -->
                        <!-- start: USER DROPDOWN -->
                        <li class="dropdown current-user">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <img src="assets/images/avatar-1-small.jpg" class="circle-img" alt=""/>
                                <span class="username">Peter Clark</span>
                                <i class="clip-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="pages_user_profile.html">
                                        <i class="clip-user-2"></i>
                                        &nbsp;My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="pages_calendar.html">
                                        <i class="clip-calendar"></i>
                                        &nbsp;My Calendar
                                    </a>
                                </li><li>
                                    <a href="pages_messages.html">
                                        <i class="clip-bubble-4"></i>
                                        &nbsp;My Messages (3)
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="utility_lock_screen.html"><i class="clip-locked"></i>
                                        &nbsp;Lock Screen </a>
                                </li>
                                <li>
                                    <a href="login_example1.html">
                                        <i class="clip-exit"></i>
                                        &nbsp;Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER DROPDOWN -->
                        <!-- start: PAGE SIDEBAR TOGGLE -->
                        <li>
                            <a class="sb-toggle" href="#"><i class="fa fa-outdent"></i></a>
                        </li>
                        <!-- end: PAGE SIDEBAR TOGGLE -->
                    </ul>
                    <!-- end: TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- end: TOP NAVIGATION CONTAINER -->
        </div>
        <div class="main-container">
            <div class="navbar-content">
                <!-- start: SIDEBAR -->
                <div class="main-navigation navbar-collapse collapse">
                    <!-- start: MAIN MENU TOGGLER BUTTON -->
                    <div class="navigation-toggler">
                        <i class="clip-chevron-left"></i>
                        <i class="clip-chevron-right"></i>
                    </div>
                    <!-- end: MAIN MENU TOGGLER BUTTON -->
                    <!-- start: MAIN NAVIGATION MENU -->
                    <ul class="main-navigation-menu">
                        <li class="active open">
                            <a href="index-2.html"><i class="clip-home-3"></i>
                                <span class="title"> Dashboard </span><span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="clip-screen"></i>
                                <span class="title"> Setting </span><i class="icon-arrow"></i>
                                <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#{application.contextPath}/app/setting/company.xhtml">
                                        <span class="title"> Company </span>
                                       
                                    </a>
                                </li>
                                <li>
                                    <a href="layouts_horizontal_menu1.html">
                                        <span class="title"> Tax Information </span>
                                        
                                    </a>
                                </li>
                               
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="clip-database"></i>
                                <span class="title"> Inventory </span><i class="icon-arrow"></i>
                                <span class="selected"></span>
                            </a>
                            <ul class="sub-menu">
                               
                                <li>
                                    <a href="layouts_horizontal_menu1.html">
                                        <span class="title"> Product </span>
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="layouts_horizontal_menu1.html">
                                        <span class="title"> Suppliers </span>
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="layouts_horizontal_menu1.html">
                                        <span class="title">Product Supplies </span>
                                        
                                    </a>
                                </li>
                                <li>
                                    <a href="layouts_horizontal_menu1.html">
                                        <span class="title"> Suppliers Ledger </span>
                                        
                                    </a>
                                </li>
                               
                            </ul>
                        </li>

                    </ul>
                    <!-- end: MAIN NAVIGATION MENU -->
                </div>
                <!-- end: SIDEBAR -->
            </div>


            <div class="main-content">
                <div class="container" style="min-height: 760px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <ol class="breadcrumb">
                                <li>
                                    <i class="clip-home-3"></i>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li class="active">
                                    Dashboard
                                </li>
                                <li class="search-box">
                                    <form class="sidebar-search">
                                        <div class="form-group">
                                            <input type="text" placeholder="Start Searching..." data-default="130"/>
                                            <button class="submit">
                                                <i class="clip-search-3"></i>
                                            </button>
                                        </div>
                                    </form>
                                </li>
                            </ol>
                            <div class="page-header">
                                <h1>Dashboard <small>overview &amp; stats </small></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer clearfix">
                <div class="footer-inner">
                    2014 © clip-one by cliptheme.
                </div>
                <div class="footer-items">
                    <span class="go-top"><i class="clip-chevron-up"></i></span>
                </div>
            </div>

        </div>

    </h:body>
    <script src="#{application.contextPath}/resources/js/jquery.min.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/bootstrap.min.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.blockUI.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.icheck.min.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/perfect-scrollbar.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.cookie.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/main.js" type="text/javascript"/>


    <script src="#{application.contextPath}/resources/js/jquery.flot.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.flot.pie.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.flot.resize.min.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.sparkline.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/jquery.easy-pie-chart.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/fullcalendar.js" type="text/javascript"/>
    <script src="#{application.contextPath}/resources/js/index.js" type="text/javascript"/>
    <script>
        jQuery(document).ready(function () {
            Main.init();
            Index.init();
        });
    </script>
</html>

