<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>Pharm</title>
        <link href="#{application.contextPath}/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/style.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/main.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/main-responsive.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/all.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/theme_light.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/futurico.css" type="text/css" rel="stylesheet"/>
        <link href="#{application.contextPath}/resources/css/css1.css" type="text/css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/css/css2.css" type="text/css" rel="stylesheet" />
        <link href="#{application.contextPath}/resources/css/print.css" type="text/css" rel="stylesheet" media="print"/>
    </h:head>
    <h:body class="login example2">
        <div class="main-login col-sm-4 col-sm-offset-4">
            <div class="logo">Pharmacy Management System<i class="clip-clip"></i>
            </div>
            <!-- start: LOGIN BOX -->
            <div class="box-login" style="display: block;">
                <h3>Sign in to your account</h3>
                <p>
                    Please enter your username and password to log in.
                </p>
                <h:form class="form-login" >
                    <div class="errorHandler alert alert-danger no-display">
                        <i class="fa fa-remove-sign"></i> You have some form errors. Please check below.
                    </div>
                    <fieldset>
                        <div class="form-group">
                            <span class="input-icon">
                                <input type="text" class="form-control" name="username" placeholder="Username"/>
                                <i class="fa fa-user"></i> </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                <input type="password" class="form-control password" name="password" placeholder="Password"/>
                                <i class="fa fa-lock"></i>
                                <a class="forgot" href="#">
                                    I forgot my password
                                </a> </span>
                        </div>
                        <div class="form-actions">
                            <h:commandButton value="Login" class="btn btn-bricky pull-right" action="template.xhtml"/> 
                           
                        </div>
                        
                    </fieldset>
                </h:form>
            </div>

            <!-- start: COPYRIGHT -->
            <div class="copyright">
                2014 © clip-one by cliptheme.
            </div>
            <!-- end: COPYRIGHT -->
        </div>
    </h:body>
</html>

